In [1]:
# import dependencies
import pandas as pd

# path to file
csv_path = "Resources/purchase_data.csv"

# read csv and create dataframe
purchase_data = pd.read_csv(csv_path)

In [2]:
# inspect data
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# Display total number of players in a dataframe
player_count = purchase_data["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players": [player_count]})
total_players_df

   Total Players
0            576

In [4]:
# create variables and put into dataframe
unique_items = purchase_data["Item ID"].nunique()
average_price = "${:.2f}".format(purchase_data["Price"].mean())
purchases = purchase_data["Purchase ID"].count()
total_revenue = "${:,.2f}".format(purchase_data["Price"].sum())
purchasing_analysis_df = pd.DataFrame({ "Number of Unique Items": [unique_items],
                                        "Average Price": average_price,
                                        "Number of Purchases": purchases,
                                        "Total Revenue": total_revenue})
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
# remove duplicate players
unique_df = purchase_data.drop_duplicates(subset="SN", keep="first")

# calculate number of players by gender, get sum
males = len(unique_df[unique_df["Gender"] == "Male"])
females = len(unique_df[unique_df["Gender"] == "Female"])
others = len(unique_df[unique_df["Gender"] == "Other / Non-Disclosed"])
total = males + females + others
percent_males = "{:.2%}".format(males/total) 
percent_females = "{:.2%}".format(females/total)
percent_others = "{:.2%}".format(others/total)

# create summary data frame
gender_demo_df = pd.DataFrame({"Total Count": [males, females, others],
                               "Percentage of Players": [percent_males, percent_females, percent_others]},
                               index = ["Male", "Female", "Other / Non-Disclosed"])
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [34]:
# groupy gender
grouped_gender_df = purchase_data.groupby(["Gender"])

# calculate columns
purchase_count = grouped_gender_df["Purchase ID"].count()
average_purchase_price = round(grouped_gender_df["Price"].mean(), 2)
total_purchase_price = grouped_gender_df["Price"].sum()

# create list of per person by gender
per_person = [81, 484, 11]
average_per_person = round(total_purchase_price / per_person, 2)

# create summary dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Total Purchase Value": total_purchase_price,
                                   "Avg Total Purchase per Person": average_per_person    
                                    })
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [18]:
# create bins <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# create names for the bins
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# new column "Age Ranges" on unique_df
unique_df["Age Ranges"] = pd.cut(unique_df["Age"], bins, labels=age_ranges, include_lowest=True)

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
# Groupby age ranges
age_ranges_df = unique_df.groupby("Age Ranges")

# calculate columns
total_count = age_ranges_df["Purchase ID"].count()
percent_count = round(total_count / 576 * 100, 2)

# create summary dataframe
age_demographics_df = pd.DataFrame ({"Total Count": total_count,
                                     "Percentage of Players": percent_count
                                    })
age_demographics_df

            Total Count  Percentage of Players
Age Ranges
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
40+                  12                   2.08

In [30]:
# create bins <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# create names for the bins
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# new column "Age Ranges" on purchase_data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges, include_lowest=True)

In [38]:
# Groupby age ranges
age_purchasing_df = purchase_data.groupby("Age Ranges")

# calculate columns
purchase_count_1 = age_purchasing_df["Purchase ID"].count()
average_purchase_price_1 = round(age_purchasing_df["Price"].mean(), 2)
total_purchase_price_1= age_purchasing_df["Price"].sum()

# create list of per person by age range
per_person_1 = [17, 22, 107, 258, 77, 52, 31, 12]
average_per_person_1 = round(total_purchase_price_1 / per_person_1, 2)
average_per_person_1

# create summary dataframe
age_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_1,
                                   "Average Purchase Price": average_purchase_price_1,
                                   "Total Purchase Value": total_purchase_price_1,
                                   "Avg Total Purchase per Person": average_per_person_1    
                                    })
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [44]:
# groupby SN
grouped_SN_df = purchase_data.groupby(["SN"])

# calculate columns
purchase_count_2 = grouped_SN_df["Purchase ID"].count()
average_purchase_price_2 = round(grouped_SN_df["Price"].mean(), 2)
total_purchase_price_2 = grouped_SN_df["Price"].sum()

# create summary dataframe
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_2,
                                   "Average Purchase Price": average_purchase_price_2,
                                   "Total Purchase Value": total_purchase_price_2,   
                                    })

top_spenders_sorted_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
top_spenders_sorted_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [56]:
# get three columns of purchase_data
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]

# groupby Item ID and Item Name
grouped_popular_df = popular_df.groupby(["Item ID", "Item Name"])
grouped_popular_df.count()

# calculate new column purchase count
grouped_popular_df["Purchase Count"] = grouped_popular_df["Item ID"].count()

                                                      Price
Item ID Item Name
0       Splinter                                          4
1       Crucifer                                          4
2       Verdict                                           6
3       Phantomlight                                      6
4       Bloodlord's Fetish                                5
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm     12
179     Wolf, Promise of the Moonwalker                   6
181     Reaper's Toll                                     5
182     Toothpick                                         3
183     Dragon's Greatsword                               3

[179 rows x 1 columns]